.outer-cont,.restart{
    background-color: rgb(22, 19, 19,0.3);
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.output
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.output-box{
    margin: 10px;
    height: 80px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    font-size: 40px;
    font-weight: 500;
}
.restart{
    position: relative;
}
.restart button{
    position: absolute;
    top: 50%;
}
.trials{
    color: white;
    font-size: 30px;
}
.input input{
    border: 2px solid black;
    font-size: 30px;
    font-weight: 400;
}
.error1{
    color:white;
    background-color:red;
    padding:20px;
    border: 2px solid black;
}
.error2{
    color:white;
    background-color:orange;
    padding:20px;
}